INSERT INTO Tweets_DF( tweet_id_str,
					from_user_id,
					tweet,
					created_at,
					source,
					favorite_count,
					retweet_count,
					coordinates,
					lang,
					filter_level,
					in_reply_to_status_id_str,
					date_created)
VALUES ("$tweet_id_str",
		"$from_user",
		"$tweet",
		"$created_at",
		"$source",
		$favorite_count,
		$retweet_count,
		"$coordinates",
		"$lang",
		"$filter_level",
		"$in_reply_to_status_id_str",
		STR_TO_DATE("$created_at", '%a %b %d %H:%i:%s +0000 %Y'))